 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
 }

 .container {
   width: 100%;
   max-width: 1024px;
   min-height: 100vh;
   background-color: #f1f2f3;
   padding: 10px;
   margin: 0 auto;
 }